@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, 
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;} 
blockquote, q {quotes: none;} 
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} 
a {text-decoration: none; color: inherit; outline: none;} 
img {vertical-align: top; outline: none;}
input, select, textarea, button {appearance: none; -webkit-appearance: none; outline: none; background: none; border: none; border-radius: 0; margin: 0;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {background: transparent; background-clip: text; -webkit-background-clip: text;}
button {cursor: pointer; border:none; padding: 0;margin: 0;} select::-ms-expand {display: none;} 
a:link, a:visited, a:hover, a:active {background: none; color: inherit;} 
br {font-family: 'Dotum';}
* {box-sizing: border-box; -webkit-tap-highlight-color: transparent;}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* common */
body {
    /* font-family: 'Noto Sans KR', sans-serif;  */
    font-family: 'S-CoreDream-3Light';
    font-size: 16px; font-weight: normal; line-height: 1; overflow-x: hidden; color: #222;
}
.wrap {padding: 0 15px;}
.cr {color: #e14040; font-size: 12px;}

/* section1 */
.section1 {position: relative; width: 100%; height: 100vh; overflow: hidden;}
.section1 .bg-img {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);;}
.section1 .tit {position: absolute; z-index: 1; top: 20%; left: 0; right: 0; padding: 0 15px; text-align: right;}
.section1 .tit h1 {position: relative; font-size: 30px; line-height: 45px; padding-bottom: 10px; font-weight: bold; color: #fff; opacity: 0; animation: opa 1s forwards; display: inline-block; padding-left: 10px;}
.section1 .tit h1:after {content: ''; position: absolute; left: 0; right: 0; bottom: 0; height: 2px; background: #fff;}
.section1 .tit h2 {margin-top: 40px; font-size: 14px; line-height: 20px; color: rgba(255,255,255,.8); opacity: 0; animation: opa 1s .3s forwards;}
.section1 .scroll {position: absolute; z-index: 10; left: 0; right: 0; text-align: center; bottom: 30px; font-size: 30px; color: #fff; cursor: pointer;}
@keyframes opa {
    0% {opacity: 0; transform: translateY(40px);}
    100% {opacity: 1; transform: translateY(0);}
}

/* section2 */
.section2 {position: relative; padding: 60px 15px;}
.section2:after {content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: url(/img/bg2.png) no-repeat center / cover; z-index: -1;}
.section2 .btns {display: flex; justify-content: center; align-items: center;}
.section2 .btns li {width: calc(50% - 5px); height: 60px; display: flex; justify-content: center; align-items: center; text-align: center; background: rgba(34,34,34,.3); border-radius: 10px; cursor: pointer;}
.section2 .btns li:first-of-type {margin-right: 5px;}
.section2 .btns li:last-of-type {margin-left: 5px;}
.section2 .btns li span {font-size: 14px; line-height: 20px; color: rgba(255,255,255,.7);}
.section2 .btns li.active {background: rgba(34,34,34,.9);}
.section2 .btns li.active span {color: #fff;}

.box-wrap {margin-top: 60px;}
.box {display: none;}
.box.active {display: block;}
.box .tit {color: #222;}
.box .tit h2 {font-size: 18px; line-height: 24px; font-weight: 700; margin-bottom: 20px;}
.box .tit h3 {font-size: 14px; line-height: 20px; font-weight: 700; opacity: 0.8;}
.box .info .logo {margin: 40px 0; text-align: center;}
.box .info .logo img {width: 210px; height: auto; object-fit: cover; margin: 0 auto;}
.box .info ul {border-top: 1px solid #ccc;}
.box .info li {display: flex; justify-content: flex-start; align-items: flex-start; font-size: 14px; line-height: 20px; padding: 10px; border-bottom: 1px solid #ccc; background: rgba(255,255,255,.5);}
.box .info li span {width: 80px; font-weight: 700;}
.box .info li .txt {width: calc(100% - 85px); font-weight: 800; border-left: 1px solid #ccc; padding-left: 10px;}
.box .info li .txt p {margin-bottom: 5px;}
