@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, 
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;} 
blockquote, q {quotes: none;} 
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} 
a {text-decoration: none; color: inherit; outline: none;} 
img {vertical-align: top; outline: none;}
input, select, textarea, button {appearance: none; -webkit-appearance: none; outline: none; background: none; border: none; border-radius: 0; margin: 0;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {background: transparent; background-clip: text; -webkit-background-clip: text;}
button {cursor: pointer; border:none; padding: 0;margin: 0;} select::-ms-expand {display: none;} 
a:link, a:visited, a:hover, a:active {background: none; color: inherit;} 
br {font-family: 'Dotum';}
em {font-style: normal;}
* {box-sizing: border-box; -webkit-tap-highlight-color: transparent;}

body {font-family: 'Noto Sans KR', sans-serif; font-size: 16px; font-weight: 400; line-height: 1; overflow-x: hidden; color: #222;}
.section {position: relative; width: 100%; min-height: 100vh; padding: 60px 0; background-repeat: no-repeat; background-position: center; background-size: cover;}
.sec {position: relative; width: 100%; padding: 60px 0; background-repeat: no-repeat; background-position: center; background-size: cover;}
.sec1 {background-image: url(/img/bg01.png); padding-top: 0;}
.sec2 {background-image: url(/img/bg02.png); padding-bottom: 0;}
.sec3, .sec4, .sec5 {background-image: url(/img/bg04.jpg);}
.cr {color: #e14040; font-size: 12px;}
.bold {font-weight: 700;}
.tar {text-align: right;}

.host {display: flex; flex-wrap: wrap; font-size: 12px; padding: 20px 10px;}
.host span {font-weight: 700; font-size: 13px; display: block; margin-bottom: 5px;}
.logo img {width: 80px; height: auto; object-fit: cover;}
.main-wrap h2 {font-size: 18px; font-weight: 700; margin: 30px 0 10px; padding: 0 10px;}
.main-wrap h3 {font-size: 30px; line-height: 40px; font-weight: 900; padding: 0 10px;}
.main-wrap .box {margin-top: 40px;}
.main-wrap .box h4 {position: relative; display: inline-block; width: 200px; font-size: 16px; font-weight: 700; padding-bottom: 10px; margin-bottom: 5px;}
.main-wrap .box h4:after {content: ''; position: absolute; left: 50%; bottom: 0; width: 100%; height: 2px; background: #222; transform: translateX(-50%);}
.main-wrap .box p {font-size: 14px; line-height: 18px; margin-bottom: 15px; font-weight: 500;}

.sec1 {text-align: center;}
.sec1 .host {justify-content: flex-start; align-items: flex-start;}
.sec1 .host div {width: 50%; text-align: center; margin-bottom: 5px;}
.sec1 .host div:last-of-type {width: 100%;}
.sec1 .logo {margin: 40px 0;}

.sec2 {text-align: right; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-end;}
.sec2 .logo {padding-right: 15px;}
.sec2 h2, .sec2 h3 {padding-right: 15px;}
.sec2 .box {text-align: left; width: 200px; margin-left: auto;}
.sec2 .host {width: 100%; display: flex; justify-content: space-between; align-items: center; text-align: left;}
.sec2 .host div:nth-of-type(1) {width: 28%;}
.sec2 .host div:nth-of-type(2) {width: 32%;}
.sec2 .host div:nth-of-type(3) {width: 40%;}

.wrap {padding: 0 15px;}
.tit {margin-bottom: 40px;}
.tit h2 {font-size: 14px; font-weight: 700; margin-bottom: 10px;}
.tit h3 {font-size: 20px; line-height: 28px; font-weight: 900;}
.sec3 .txt {font-size: 14px; line-height: 28px;}

.sec4 .box h4 {font-size: 16px; line-height: 20px; font-weight: 700; margin-bottom: 20px;}
.sec4 .box ul {border-top: 1px solid #666; margin-bottom: 60px;}
.sec4 .box li {display: flex; justify-content: flex-start; align-items: flex-start; border-bottom: 1px solid #666; padding: 10px 0; font-size: 14px; line-height: 20px;}
.sec4 .box li span {width: 80px; flex: none; font-weight: 700;}
.sec4 .box li .txt {width: calc(100% - 80px); padding: 0 5px;}

.sec5 .map img {width: 100%; height: auto; object-fit: cover;}
.sec5 .direction {display: block; width: 80%; height: 40px; line-height: 40px; border-radius: 40px; text-align: center; margin: 20px auto; background: #222; color: #fff; font-size: 16px; font-weight: 700;}
